HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# OS File
.DS_Store
Thumbs.db

src/main/resources/application-secret.properties

### SSL & Keystore Security ###
# 프론트엔드 인증서 및 키
*.crt
*.key
*.pem

# 백엔드 자바 키스토어 (PKCS12)
*.p12
*.jks

# 환경 변수 설정 파일 (React용)
.env
.env.local